---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->

<h1 id="announcements">/announcements/</h1>

{%- if site.announcements.size > 0 -%}
  <ul>
    {%- for post in site.announcements reversed -%}
    <li>
      {%- assign date_format = "%Y-%m-%d" -%}
      [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url}}">{{ post.title | escape }}</a>
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}

<p><br /></p>

<hr />

<h1 id="reports">/reports/</h1>

{%- if site.reports.size > 0 -%}
  <ul>
    {%- for post in site.reports reversed -%}
    <li>
      {%- assign date_format = "%Y-%m-%d" -%}
      [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url}}">{{ post.title | escape }}</a>
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}

<p><br /></p>

<hr />

<h1 id="hunts">/hunts/</h1>

{%- if site.hunts.size > 0 -%}
  <ul>
    {%- for post in site.hunts reversed -%}
    <li>
      {%- assign date_format = "%Y-%m-%d" -%}
      [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url}}">{{ post.title | escape }}</a>
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
